*.log
*.tmp
/build/
.env
Include/
Lib/
Scripts/
share/
etc/
.ipynb_checkpoints/
__pycache__
ACTIVITY.fit
Prova.ipynb
etc/
Scripts/
bin/
Include/
Lib/
share/
Data.ipynb
final_dataset.csv
final_model.pth
results.json
pyvenv.cfg
Immagini/